.block_one {
	height: 300px;
	width: 300px;
	background-color: rgb(77, 235, 124);
	box-shadow: 0px 4px 20px rgba(218, 47, 218, 1);
	border: 2px solid rgb(218, 47, 218);
	border-radius: 10px;
}

.btn_add {
	background: rgb(129, 207, 207);
	border: 1px solid #000000;
	border-radius: 3px;
	font-weight: bold;
	font-size: 19px;
	color: #000000;
	cursor: pointer;
}

.btn_add:hover,
.ntn_add:active {
	background: rgb(48, 49, 49);
	border: 1px solid rgb(255, 255, 255);
	border-radius: 3px;
	font-weight: bold;
	font-size: 19px;
	color: rgb(129, 207, 207);
}
